body {
    background-color: #0c141c;
    font-size: 15px;
    color: #fff;
}

.main-content {
    min-height: 400px;
    margin: 32px 0;
    padding: 0;
    padding-left: 64px;
}

.cover-container {
    height: 320px;
    border-radius: 16px;
    border: 8px solid #2b3e50;
    background-color: #2b3e50;
    margin-bottom: 16px;
    background-size: cover;
}

h1 {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 600;
}

.notices {
    font-size: 1.6rem;
    margin: 24px 0;
}

.notices>span {
    margin-left: 8px;
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.7);
}

.form-steps-container {
    position: relative;
    margin-left: -64px;
}

.form-steps-container .form-text {
    margin-top: 8px;
}

.step-trigger-button {
    margin-top: 16px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #a0739b;
    border-color: #a0739b;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #ca97c4;
    border-color: #ca97c4;
}

.form-steps-container .form-step {
    padding-bottom: 80px;
    padding-left: 64px;
    position: relative;
    opacity: 0.3;
    transition: 200ms opacity linear;
}

.form-steps-container .form-step,
.form-steps-container .form-step * {
    cursor: not-allowed !important;
    pointer-events: none;
}

.form-step.selected,
.form-step.selected * {
    opacity: 1;
    cursor: auto !important;
    pointer-events: all;
}

.form-step-title {
    font-size: 1.3rem;
    margin-bottom: 24px;
    font-weight: 600;
    padding-top: 4px;
}

.form-step-title>span {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #2b3e50;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
}

.form-step.selected .form-step-title>span {
    background-color: #a0739b;
}

.form-steps-container .form-step::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 2px;
    background-color: #2b3e50;
}

.form-steps-container .form-step:last-child::before {
    background-color: transparent;
}

.form-step .card {
    color: #333;
}